# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/project-OJ/v16
/project-OJ/project-OJ.vcxproj.user
/project-OJ/project-OJ.vcxproj.filters
/project-OJ/project-OJ.vcxproj
/project-OJ - 副本
/Debug
/project-OJ/Debug
/project-OJ/x64/Debug
/x64/Debug
main_in.txt
main_out.txt